# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# (Optional) Ignore logs
logs
*.log
npm-debug.log*

# (Optional) Ignore OS and editor-specific files
.DS_Store
.vscode/
.idea/
